/*FaceClick Game CSS*/

body {
  background-color: 
}


h1 {
  text-align: center;
  font-size: 30px;
  color: white;


}

p {
  color: black;
  text-align: center;
  font-family:"signika";
  font-size: 15px;
}

button {
  padding:100px;
  margin: 1px;
  margin-left: 550px;
}

div {
  font-family: "indie flower";
  font-size: 12px;
}

img {
  height: 100px;
  width: 100px;
  padding:5px;
  margin: 5px;
  border-radius: 50%
}

.click-counter {
  position: static;
  height: 100px;
  width: 100px;
  text-align: center;
  border:3px solid;
  color: black;
  border-color: black;
  background-color:white;
  left:10px;
}

p {
  font-family: "indie flower";
}

.clicker-box {
  position: fixed;
  height: 100px;
  width: 100px;
  text-align: center;
  border:2px solid;
  color: black;
  border-color: black;
  background-color:white;
}

.row {
  margin: 20px;
}



.list-group-item {
    color: white;
    background-color: black;
    font-family: "signika";
