/*FaceClick Game CSS*/

body {
  background-color: #E7E8D1;
}


h1 {
  text-align: center;
  font-size: 30px;
  color: white;


}

p {
  color: black;
  text-align: center;
  font-family:"signika";
  font-size: 15px;
}

button {
  padding:100px;
  margin: 1px;
  margin-left: 573px;
}

div {
  font-family: "indie flower";
  font-size: 12px;
}

img {
  height: 100px;
  width: 100px;
  padding:5px;
  margin: 5px;
  border-radius: 50%
}

.click-counter {

}

p {
  font-family: "indie flower";

}



.row {
  margin: 20px;
}



.list-group-item {
    color: white;
    background-color: black;
    font-family: "signika";
